---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: blue
  labels:
    app: blue
spec:
  replicas: 1
  selector:
    matchLabels:
      app: blue
  template:
    metadata:
      labels:
        app: blue
    spec:
      containers:
      - name: blue
        image: mcr.microsoft.com/k8se/quickstart:latest
        ports:
        - containerPort: 80
        resources:
          requests:
            cpu: "10m"
            memory: "10Mi"
          limits:
            memory: "256Mi"